* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.container {
  width: 85%;
  margin: 0 auto;
}

a {
  color: inherit;
}

.top_navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #A5E3B9;
  font-size: 11px;
}

@media (min-width: 750px) {
  .top_navbar {
    font-size: 14px;
  }
}
.header {
  padding-top: 20px;
  padding: 20px;
  background-color: #002D2D;
}
.header .header__nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__nav .nav__center {
  display: none;
}
.header .header__nav .nav__center .nav__items {
  border-bottom: white;
  padding-bottom: 4px;
}
.header .header__nav .nav__center .nav__items:hover {
  border-bottom: 2px solid;
}
.header .header__nav .nav__right {
  display: none;
}
.header .header__nav .nav__right .nav__items {
  border-bottom: white;
  padding-bottom: 4px;
}
.header .header__nav .nav__right .nav__items:hover {
  border-bottom: 2px solid;
}
.header .header__nav .nav__right button {
  width: 147px;
  height: 40px;
  background-color: #008060;
  border: 1px solid #008060;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.header .header__nav .nav__right button:hover {
  background-color: transparent;
  border: 1px solid #008060;
}
.header .header__nav .nav__responsive {
  display: none;
}
.header .header__nav .nav__res {
  display: flex;
  gap: 6px;
}

@media (min-width: 500px) {
  .header .header__nav .nav__res {
    display: none;
  }
  .header .header__nav .nav__responsive {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 750px) {
  .header .header__nav .nav__center {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header .header__nav .nav__responsive .first__icon {
    display: none;
  }
}
@media (min-width: 880px) {
  .header .header__nav {
    font-size: 18px;
  }
  .header .header__nav .nav__center {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header .header__nav .nav__right {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header .header__nav .nav__responsive {
    display: none;
  }
}
.hero {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #002D2D;
  color: white;
}
.hero .hero__wrapper .hero__left {
  width: 100%;
}
.hero .hero__wrapper .hero__left .hero__title {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .hero__wrapper .hero__left .hero__title h1 {
  font-weight: 400;
}
.hero .hero__wrapper .hero__left .hero__bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .hero__wrapper .hero__left .hero__bottom .bottom__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .hero__wrapper .hero__left .hero__bottom .bottom__actions input {
  width: 90%;
  height: 40px;
  border-radius: 4px;
  border: none;
  color: #6B7177;
  padding: 10px;
  outline: none;
}
.hero .hero__wrapper .hero__left .hero__bottom .bottom__actions button {
  width: 50%;
  height: 40px;
  background-color: #008060;
  color: white;
  font-size: 15px;
  border: 1px solid #008060;
  transition: all ease-in 0.3s;
  border-radius: 5px;
  cursor: pointer;
}
.hero .hero__wrapper .hero__left .hero__bottom .bottom__actions button:hover {
  background-color: transparent;
  border: 1px solid #008060;
}
.hero .hero__wrapper .hero__right {
  margin-top: 20px;
}
.hero .hero__wrapper .hero__right img {
  width: 100%;
}

@media (min-width: 700px) {
  .hero .hero__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 70px;
  }
  .hero .hero__wrapper .hero__left {
    width: 80%;
  }
  .hero .hero__wrapper .hero__right img {
    width: 100%;
  }
}
@media (min-width: 840px) {
  .hero .hero__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 70px;
  }
  .hero .hero__wrapper .hero__left {
    width: 80%;
  }
  .hero .hero__wrapper .hero__right {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .hero {
    padding-top: 100px;
  }
  .hero .hero__wrapper .hero__left {
    width: 80%;
  }
  .hero .hero__wrapper .hero__left .hero__title h1 {
    font-size: 60px;
    width: 80%;
  }
  .hero .hero__wrapper .hero__left .hero__bottom {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .hero .hero__wrapper .hero__left .hero__bottom .bottom__actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .hero .hero__wrapper .hero__left .hero__bottom .bottom__actions input {
    width: 60%;
  }
  .hero .hero__wrapper .hero__left .hero__bottom .bottom__actions button {
    width: 30%;
  }
  .hero .hero__wrapper .hero__right img {
    width: 100%;
  }
}
.main {
  margin-top: 50px;
}
.main .main__title {
  width: 80%;
}
.main .main__box {
  margin-top: 50px;
  width: 100%;
  height: 40vh;
  background-color: #799102;
  padding: 40px;
  border-radius: 30px;
}
.main .main__box h3 {
  color: white;
  font-weight: 400;
}
.main .main__inner {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
}
.main .main__inner span {
  color: green;
}
.main .main__inner .main__card {
  border-top: 2px solid black;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .main__inner .main__card .main__card__bottom {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

@media (min-width: 850px) {
  .main .main__inner {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .main .main__inner .main__card {
    width: 80%;
  }
}
@media (min-width: 969px) {
  .main .main__title {
    width: 50%;
  }
  .main .main__title h1 {
    font-size: 60px;
    font-weight: 400;
  }
  .main .main__box {
    height: 80vh;
  }
}
.customers {
  margin-top: 100px;
}
.customers .customers__inner {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}
.customers .customers__inner .customers__card__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  order: 1;
}
.customers .customers__inner .customers__card__left p {
  width: 90%;
}
.customers .customers__inner .customers__card__left .card__bottom {
  display: flex;
  gap: 10px;
}
.customers .customers__inner .customers__card__right {
  width: 90%;
  height: 100%;
  background-color: #FFF8F6;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  order: 2;
}
.customers .customers__inner .customers__card__right img {
  width: 90%;
}
.customers .customers__inner2 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}
.customers .customers__inner2 .customers__card__left {
  width: 90%;
  height: 100%;
  background-color: #C6F0FC;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.customers .customers__inner2 .customers__card__left img {
  width: 90%;
}
.customers .customers__inner2 .customers__card__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.customers .customers__inner2 .customers__card__right p {
  width: 90%;
}
.customers .customers__inner2 .customers__card__right .card__bottom {
  display: flex;
  gap: 10px;
}

.left-right__btn {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.left-right__btn button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

@media (min-width: 760px) {
  .customers .customers__inner {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .customers .customers__inner .customers__card__left {
    width: 50%;
  }
  .customers .customers__inner .customers__card__right {
    width: 90%;
  }
  .customers .customers__inner2 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
  .customers .customers__inner2 .customers__card__left {
    width: 90%;
  }
  .customers .customers__inner2 .customers__card__right {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .customers .container {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}
.help {
  margin-top: 100px;
  background-color: #FBF7ED;
}
.help .help__left {
  padding: 30px;
}
.help .help__left .left__title h1 {
  font-size: 35px;
  font-weight: 400;
}
.help .help__left .left__wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.help .help__left .left__wrapper .left__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.help .help__left .left__wrapper .left__card span {
  color: green;
}
.help .help__right img {
  width: 100%;
}

@media (min-width: 600px) {
  .help .help__left .left__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
  }
}
@media (min-width: 800px) {
  .help {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
  .help .help__left {
    padding: 60px;
  }
  .help .help__left .left__title h1 {
    font-size: 50px;
    width: 60%;
    line-height: 74px;
  }
}
@media (min-width: 992px) {
  .help {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 50px;
  }
}
.top_footer {
  margin-top: 60px;
}
.top_footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.top_footer .wrapper h1 {
  font-weight: 400;
}
.top_footer .wrapper p {
  color: #6B7177;
  text-align: center;
}
.top_footer .wrapper button {
  width: 60%;
  height: 40px;
  background-color: #008060;
  border-radius: 4px;
  border: 1px solid #008060;
  color: white;
  font-size: 14px;
  transition: all ease-out 0.4s;
  cursor: pointer;
}
.top_footer .wrapper button:hover {
  background-color: transparent;
  color: #008060;
}

@media (min-width: 500px) {
  .top_footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .top_footer .wrapper h1 {
    font-size: 30px;
  }
  .top_footer .wrapper button {
    width: 162px;
  }
}
.footer {
  margin-top: 50px;
  background-color: #004C3F;
  padding-top: 40px;
}
.footer .unfooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
.footer .unfooter a {
  border-bottom: white;
  padding-bottom: 7px;
  transition: all ease 0.4s;
}
.footer .unfooter a:hover {
  color: rgb(194, 194, 194);
}
.footer .footer__wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  gap: 50px;
}
.footer .footer__wrapper .wrapper__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer__wrapper .wrapper__links a {
  color: white;
  border-bottom: white;
  padding-bottom: 7px;
  transition: all ease 0.4s;
}
.footer .footer__wrapper .wrapper__links a:hover {
  color: rgb(194, 194, 194);
}
.footer .bottom__footer {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer .bottom__footer .left__bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.footer .bottom__footer .right__bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .bottom__footer .right__bottom a {
  color: white;
  border-bottom: white;
  padding-bottom: 7px;
  transition: all ease 0.4s;
}
.footer .bottom__footer .right__bottom a:hover {
  color: rgb(194, 194, 194);
}

@media (min-width: 440px) {
  .footer .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 500px) {
  .footer .bottom__footer .left__bottom {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .footer .bottom__footer .right__bottom {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 600px) {
  .footer .unfooter {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .footer .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 730px) {
  .footer .bottom__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer .bottom__footer a {
    font-size: 17px;
  }
}
@media (min-width: 800px) {
  .footer .unfooter {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
@media (min-width: 860px) {
  .footer .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
@media (min-width: 1200px) {
  .footer .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}
@media (min-width: 1400px) {
  .footer .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
}