.footer{
    margin-top: 50px;
    background-color: #004C3F;
    padding-top: 40px;
    .unfooter{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        a{
            border-bottom: white;
            padding-bottom: 7px;
            transition: all ease 0.4s;
            &:hover{
                color: rgb(194, 194, 194);
            }
        }
    }
    .footer__wrapper{
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto;
        border-bottom: 1px solid gray;
        padding-bottom: 30px;
        gap: 50px;
        .wrapper__links{
            display: flex;
            flex-direction: column;
            gap: 10px;
            a{
                color: white;
                border-bottom: white;
                padding-bottom: 7px;
                transition: all ease 0.4s;
            &:hover{
                color: rgb(194, 194, 194);
            }
            }
        }
    }
    .bottom__footer{
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .left__bottom{
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }
        .right__bottom{
            display: flex;
            flex-direction: column;
            gap: 10px;
            a{
                color: white;
                border-bottom: white;
                padding-bottom: 7px;
                transition: all ease 0.4s;
            &:hover{
                color: rgb(194, 194, 194);
            }
            }
        }
    }
}
@media (min-width: 440px) {
    .footer{
        .footer__wrapper{
            display: grid;
            grid-template-columns: auto auto;
        }
    }
}
@media (min-width: 500px) {
    .footer{
        .bottom__footer{
            .left__bottom{
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
            .right__bottom{
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}
@media (min-width: 600px) {
    .footer{
        .unfooter{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        .footer__wrapper{
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }
}
@media (min-width: 730px) {
    .footer{
        .bottom__footer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            a{
                font-size: 17px;
            }
        }
    }
}
@media (min-width: 800px) {
    .footer{
        .unfooter{
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }
}
@media (min-width: 860px) {
    .footer{
        .footer__wrapper{
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
    }
}
@media (min-width: 1200px) {
    .footer{
        .footer__wrapper{
            display: grid;
            grid-template-columns: auto auto auto auto auto;
        }
    }
}
@media (min-width: 1400px) {
    .footer{
        .footer__wrapper{
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
        }
    }
}

