.header{
    padding-top: 20px;
    padding: 20px;
    background-color: #002D2D;
    .header__nav{
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__center{
            display: none;
            .nav__items{
                border-bottom: white;
                padding-bottom: 4px;
                &:hover{
                    border-bottom: 2px solid;
                }
            }
        }
        .nav__right{
            display: none;
            .nav__items{
                border-bottom: white;
                padding-bottom: 4px;
                &:hover{
                    border-bottom: 2px solid;
                }
            }
            button{
                width: 147px;
                height: 40px;
                background-color: #008060;
                border: 1px solid #008060;
                color: white;
                border-radius: 4px;
                font-size: 15px;
                transition: all ease-in 0.2s;
                cursor: pointer;
                &:hover{
                    background-color: transparent;
                    border: 1px solid #008060;
                }
            }
        }
        .nav__responsive{
            display: none;
        }
        .nav__res{
            display: flex;
            gap: 6px;
        }
    }
}
@media (min-width: 500px) {
    .header{
        .header__nav{
            .nav__res{
                display: none;
            }
            .nav__responsive{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}
@media (min-width: 750px) {
    .header{
        .header__nav{
            .nav__center{
                display: flex;
                align-items: center;
                gap: 30px;
            }
            .nav__responsive{
                .first__icon{
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 880px) {
    .header{
        .header__nav{
            font-size: 18px;
            .nav__center{
                display: flex;
                align-items: center;
                gap: 30px;
            }
            .nav__right{
                display: flex;
                align-items: center;
                gap: 30px;
            }
            .nav__responsive{
                display: none;
            }
        }
    }
}