.help {
    margin-top: 100px;
    background-color: #FBF7ED;
    .help__left {
        padding: 30px;
        .left__title {
            h1 {
                font-size: 35px;
                font-weight: 400;
            }
        }
        .left__wrapper{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .left__card{
                display: flex;
                flex-direction: column;
                gap: 12px;
                span{
                    color: green;
                }
            }
        }
    }

    .help__right {
        img {
            width: 100%;
        }
    }
}
@media (min-width: 600px) {
    .help{
        .help__left{
            .left__wrapper{
                display: grid;
                grid-template-columns: auto auto;
                gap: 50px;
            }
        }
    }
}
@media (min-width: 800px) {
    .help{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        .help__left{
            padding: 60px;
            .left__title{
                h1{
                    font-size: 50px;
                    width: 60%;
                   line-height: 74px;
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .help{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 50px;
    }
}